.comment {
    margin-top: 16px;
    font-size: 15px;
    overflow: auto;
    max-height: 0;
    opacity: 0;
    padding-right: 24px;
    transition: all 0.6s ease-in;
}

.comment.show {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-height: 300px;
    opacity: 1;
    scroll-behavior: smooth;
}

.comment.show::-webkit-scrollbar {
    width: 4px;
}

.comment.show::-webkit-scrollbar-track {
    background: hsl(240, 6%, 77%);
    border-radius: 8px;
}

.comment.show::-webkit-scrollbar-thumb {
    background: hsl(340, 4%, 48%);
    border-radius: 8px;
}

.comment.show::-webkit-scrollbar-thumb:hover {
    background: hsl(340, 4%, 38%);
}

.comment-username {
    text-transform: capitalize;
    margin: 4px 0;
    font-size: 15px;
}

.comment-profile-picture {
    width: 30px;
    border-radius: 50%;
}

.comment-container {
    display: flex;
    gap: 12px;
    font-size: 14px;
    align-items: start;
}
