.profile-parent-container {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid hsl(240, 6%, 42%);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.echo-profile-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-picture {
    width: 50px;
}

.username {
    color: hsl(240, 6%, 77%);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

#post-button {
    font-family: inherit;
    cursor: pointer;
    background-color: hsl(340, 4%, 38%);
    font-size: 16px;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    color: hsl(240, 6%, 87%);
    font-weight: 500;
    outline: none;
}

#post-button:active {
    transform: scale(0.98);
}

#echo-text {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border: 1px inset rgba(118, 118, 118, 0.5);
    border-radius: 10px;
    background-color: hsl(340, 5%, 24%);
    color: hsl(240, 6%, 77%);
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    font-family: inherit;
}

#echo-text::placeholder {
    color: hsl(340, 4%, 63%);
    font-weight: 500;
}
