.child-container {
    padding: 8px 16px;
    width: 700px;
    height: 700px;
    overflow-y: auto;
}

.child-container::-webkit-scrollbar {
    width: 8px;
}

.child-container::-webkit-scrollbar-track {
    background: hsl(240, 6%, 77%);
    border-radius: 8px;
}

.child-container::-webkit-scrollbar-thumb {
    background: hsl(340, 4%, 48%);
    border-radius: 8px;
}

.child-container::-webkit-scrollbar-thumb:hover {
    background: hsl(340, 4%, 38%);
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.echo-profile-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profile-picture {
    width: 50px;
    border-radius: 50%;
}

.username,
.feed-username {
    color: hsl(240, 6%, 77%);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

#post-button {
    font-family: inherit;
    cursor: pointer;
    background-color: hsl(340, 4%, 38%);
    font-size: 16px;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    color: hsl(240, 6%, 87%);
    font-weight: 500;
    outline: none;
}

#post-button:active {
    transform: scale(0.98);
}

#echo-text {
    margin-top: 20px;
    width: 100%;
    height: 45px;
    border: 1px inset rgba(118, 118, 118, 0.5);
    border-radius: 10px;
    background-color: hsl(340, 5%, 24%);
    color: hsl(240, 6%, 77%);
    outline: none;
    padding-left: 16px;
    font-size: 16px;
    font-family: inherit;
}

#echo-text::placeholder {
    color: hsl(340, 4%, 63%);
    font-weight: 500;
}

.profile-parent-container {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid hsl(240, 6%, 42%);
}

.feed {
    color: hsl(240, 6%, 82%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.echo {
    display: flex;
    gap: 16px;
}

.feed-details-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.feed-username {
    margin-bottom: 4px;
}

.feed-content {
    margin-bottom: 16px;
}

.comment {
    margin-top: 16px;
}

.feed-stats {
    color: hsl(240, 6%, 67%);
}

.feed-comment-user {
    text-transform: capitalize;
}
