.child-container {
    padding: 8px 16px;
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

.feed-username {
    color: hsl(240, 6%, 77%);
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
}

.feed,
.compact-feed {
    height: 100%;
    color: hsl(240, 6%, 82%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
}

.compact-feed {
    height: 80%;
}

.feed::-webkit-scrollbar,
.compact-feed::-webkit-scrollbar {
    width: 4px;
}

.feed::-webkit-scrollbar-track,
.compact-feed::-webkit-scrollbar-track {
    background: hsl(240, 6%, 77%);
    border-radius: 8px;
}

.feed::-webkit-scrollbar-thumb,
.compact-feed::-webkit-scrollbar-thumb {
    background: hsl(340, 4%, 48%);
    border-radius: 8px;
}

.feed::-webkit-scrollbar-thumb:hover,
.compact-feed::-webkit-scrollbar-thumb:hover {
    background: hsl(340, 4%, 38%);
}

.echo {
    display: flex;
    gap: 16px;
    padding-right: 28px;
    margin: 12px 0;
}

.feed-details-container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.feed-username {
    margin-bottom: 4px;
}

.feed-content {
    margin-bottom: 16px;
}

.feed-stats {
    color: hsl(240, 6%, 67%);
    font-size: 14px;
}

.comments-state {
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s;
}

.comments-state:hover {
    transform: scale(1.1);
    color: hsl(240, 6%, 87%);
}

.reaction-container {
    margin-bottom: 12px;
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.reaction-container i {
    cursor: pointer;
    transition: all 0.3s;
}

.reaction-container i:hover {
    transform: scale(1.15);
}

.fa-solid.fa-heart {
    color: hsl(350, 100%, 68%);
}
