.nav-container {
    width: 80px;
    height: 300px;
    background-color: hsla(340, 4%, 33%, 0.6);
    border: 1px solid hsl(340, 4%, 43%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    color: hsl(240, 6%, 87%);
    font-size: 20px;
    backdrop-filter: blur(30px);
    margin-right: 32px;
}

.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.8s;
}

.nav-icon:hover {
    background-color: hsl(340, 4%, 63%);
    color: #131313;
}
